 <% @categories.each do |category| %>
    <%= link_to category_expenses_path(category_id: category.id), class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center mb-3' do %>
      <div class="text-4xl me-2 me-md-4"><%= category.icon %></div>
      <div class="text-lg font-weight-bold"><%= category.name %></div>
      <div class="text-lg font-weight-bold">$<%= format('%.2f', category.expenses.sum(:amount)) %></div>
      <% end %>
  <% end %>