<div
  class="container d-flex flex-column justify-content-between"
  style="height: 90vh"
>
  <div
    class="d-flex flex-column text-center justify-content-center"
    style="flex: 1"
  >
    <h1 class="welcome-title">Budget Expense</h1>
    <div class="d-grid gap-2 fixed-bottom p-3">
      <%= link_to "LOG IN", new_user_session_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "SIGN UP", new_user_registration_path, class: 'btn btn-dark btn-lg' %>
    </div>
  </div>
</div>
